.content{
    width: 1600px;
    height: 400px;
    border: 1px solid #000000;
    /*background: url("../images/bg.jpeg");*/
}

.nota {
    width: 30px;
    height: 30px;
    background: #0000ff;
    border-radius: 50%;
}