/* Estilo para el contenedor principal */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Estilo para el contenedor de contenido donde caerán las notas */
.contenedor {
    border: 2px solid black;
    height: 95%;
    width: 55%;
    margin: 20px auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

/* Estilo para la zona donde caerán las notas */
.hit-zone {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 55%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-top: 2px solid #ccc;
}

/* Estilo para los detalles del juego */
.details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* Estilo para las instrucciones */
.instrucciones {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    text-align: center;
}

/* Estilo para el panel de control del juego */
.control-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    text-align: center;
}

/* Estilo para el botón de inicio */
.start {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.letras {
    list-style: none;
    padding: 0;
}

.nota {
    display: flex;
    width: 50px;
    height: 50px;
    background: #0000ff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
    color: #000;
}

#song {
    display: none;
}