/* Estilo para el contenedor principal */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Estilo para el contenedor de contenido donde caerán las notas */
.contenedor {
    border: 2px solid black;
    height: 95%;
    width: 55%;
    margin: 20px auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

/* Estilo para la zona donde caerán las notas */
.hit-zone {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 55%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-top: 2px solid #ccc;
}

/* Estilo para los detalles del juego */
.details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* Estilo para las instrucciones */
.instrucciones {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    text-align: center;
}

/* Estilo para el panel de control del juego */
.control-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 20%;
    text-align: center;
}

.letras {
    display: flex; /* Esto activa Flexbox para el contenedor */
    justify-content: space-around; /* Esto distribuye el espacio entre los elementos de manera uniforme */
    align-items: center; /* Esto centra los elementos verticalmente */
}
.nota {
    width: 50px; /* Ancho de cada elemento */
    height: 50px; /* Alto de cada elemento */
    background: #00f5c8;
    border-radius: 50%;
    display: flex; /* Activamos Flexbox para centrar el contenido */
    justify-content: center; /* Centramos horizontalmente el contenido dentro de la caja */
    align-items: center; /* Centramos verticalmente el contenido dentro de la caja */
    color: white; /* Color del texto */
    font-weight: bold; /* Negrita para el texto */
    font-size: 20px; /* Tamaño del texto */
}
.blue { background-color: blue; }
.orange { background-color: orange; }
.purple { background-color: purple; }
.green { background-color: green; }
.red { background-color: red; }
.yellow { background-color: yellow; color: black;}

#song {
    display: none;
}